.Home {
  text-align: center;
}

.Home h1 {
  color: black;
}

* {
  margin: 0;
  padding: 0;
}

.Home-header {
  background-color: rgb(255, 255, 255);
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(0, 0, 0);
}

.Home-main {
  background-color: #FFF8E1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 5%;
}

.calendar {
  color: black;
  border-radius: 30px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
}

[data-amplify-authenticator] {
  background-color: #333 !important; 
}

.menu_button {
  position: absolute;
  top: 0px;
  left: 0;
  margin: 20px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  z-index: 1001;
}

.sidebar {
  position: fixed;
  left: -250px;
  top: 0;
  width: 250px;
  height: 100%;
  background-color: #96c6f6;
  overflow-x: hidden;
  transition: 0.3s;
  padding-top: 60px;
  z-index: 1000;
  border-right: 3px solid #ccc;
  box-shadow: 5px 0 15px rgba(0, 0, 0, 0.2);
}

.sidebar .signout_button {
  align-self: center;
  position: absolute;
  bottom: 20px;
  width: auto;
  margin: 0;
  border-radius: 10%;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.sidebar.open {
  left: 0;
}

.sidebar-content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.sidebar-content h2 {
  margin-top: 30px;
  color: black;
}

.sidebar-content ul {
  list-style-type: none;
  padding: 0;
}

.sidebar-conent ul li a {
  display: block;
  padding: 10px;
  text-decoration: none;
}