.Home {
  text-align: center;
}

/*
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
*/

/*
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
*/

* {
  margin: 0;
  padding: 0;
}

.Home-header {
  background-color: rgb(255, 255, 255);
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(0, 0, 0);
}

.Home-main {
  background-color: #3c3932;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 5%;
}




.footer_text {
  background-color: rgb(255, 255, 255);
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(0, 0, 0)
}

/*
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/

.signout_button {
  top:0;
  right:0;
  height: 30px;
  width: 100px;
  position: absolute;
  margin-right: 5px;
  margin-top: 5px;
  line-height: 12px;
  border-radius: 10px 40px;
  background-color: rgb(229, 204, 171);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}