.Home {
  text-align: center;
}

.Home h1 {
  color: black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Home-main {
  background-image: linear-gradient(to top, #D291BC, #FFF8E1);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 5%;
}

.welcome-message {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  text-align: center;
  color: black;
  margin-top: 20px;
}

.calendar {
  color: black;
  border-radius: 30px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 100px;
}

.react-calendar__tile--active {
  background-color: #007bff;
  border-radius: 50%;
}

[data-amplify-authenticator] {
  background-color: #333 !important; 
}

.menu_button {
  position: absolute;
  top: 0px;
  left: 0;
  margin: 20px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  z-index: 1001;
}

.sidebar {
  position: fixed;
  left: -250px;
  top: 0;
  width: 250px;
  height: 100%;
  background-color: #e9e9f3;
  overflow-x: hidden;
  transition: 0.3s;
  padding-top: 60px;
  z-index: 1000;
  border-right: 3px solid #ccc;
  box-shadow: 5px 0 15px rgba(0, 0, 0, 0.2);
}

.sidebar.open {
  left: 0;
}

.sidebar-content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.sidebar-content h2 {
  margin-top: 30px;
  color: black;
}

.sidebar-content ul {
  list-style-type: none;
  padding: 0;
}

.sidebar-content ul li a {
  display: block;
  padding: 10px;
  text-decoration: none;
}

@keyframes bubble {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.2);
    opacity: 0.5;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.bubble-animation {
  animation: bubble 0.5s ease;
}

/* Styles for the modal */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Darkens the background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1002; /* Should be below the modal content but above other content */
}

.modal-content {
  background: white; /* Ensures the modal background is white */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); /* Adds some shadow for depth */
  z-index: 1003; /* Should be above the overlay */
  width: 90%;
  max-width: 500px; /* Adjust max-width as necessary for your design */
  text-align: left;
  position: relative; /* For stacking and positioning close button if needed */
  color: black;
}

.modal-content h2 {
  color: black;
}

.modal-content ul {
  list-style-type: none;
  padding: 0;
}

.modal-content ul li {
  background-color: #f0f0f0;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 4px;
}

.add-entry-modal {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: auto;
  max-width: 500px;
  z-index: 1003; /* Above the overlay */
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
}

.add-entry-modal input[type="time"],
.add-entry-modal textarea {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  color: black;
}

/* If you have a close button in modal */
.modal-content .close-button {
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 20px;
}

/* Styles for the Floating Action Button */
.fab {
  position: fixed;
  bottom: 15px; /* Adjust the position as needed */
  right: 15px; /* Adjust the position as needed */
  width: 50px; /* Circle size */
  height: 50px; /* Circle size */
  border-radius: 50%; /* Makes it round */
  background-color: #007bff; /* Button color, change as needed */
  color: white; /* Icon color */
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  --ion-color-base: transparent; /* Removes the default button color of Ionic */
}
